<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demariodouce.demariodouce_comp304sec003_lab2_ex1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemarioDouce_COMP304Sec003_Lab2_Ex1">
        <activity android:name=".CheckoutActivity"
            android:parentActivityName=".HomeStylesActivity"
            android:label="Checkout"></activity>
        <activity
            android:name=".TownhouseActivity"
            android:parentActivityName=".HomeStylesActivity"
            android:label="Townhouse"/>
        <activity
            android:name=".CondominiumActivity"
            android:parentActivityName=".HomeStylesActivity"
            android:label="Condominium"/>
        <activity
            android:name=".SemiDetachedHomeActivity"
            android:parentActivityName=".HomeStylesActivity"
            android:label="Semi Detached Home"/>
        <activity
            android:name=".DetachedHomeActivity"
            android:parentActivityName=".HomeStylesActivity"
            android:label="Detached Home"/>
        <activity
            android:name=".ApartmentActivity"
            android:parentActivityName=".HomeStylesActivity"
            android:label="Apartment"/>
        <activity
            android:name=".HomeStylesActivity"
            android:parentActivityName=".MainActivity"
            android:label="Home Styles"
            />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>